{% extends 'master.html' %}
{% block title %}
PROFILE
{% endblock %}
{% block content %}

   
<div id="bot">
    <div id="name">
        <h6>Hello,<SPAN class="blue"> I'm</SPAN> </h6>
        <h1 class="blue">PREMANATH S</h1>
        <h4>FULL STACK DEVELOPER(PYTHON)</h4>
        <p>With knowledge in Web Development and Design ,i offer the best projects resulting in quality work.</p>
        <button>DETIALS</button>
        <br>
        <div id="icon">
            <a href=""><i class="fa-brands fa-linkedin"></i></a>
            <a href=""><i class="fa-brands fa-square-github"></i></a>
            <a href=""><i class="fa-solid fa-envelope"></i></a>
        </div>
        
    </div>
    <div class="hid"></div>
    <div >
        
        <h1 id="sk1">PROJECTS</h1>
        <br>
        <ul>
            <li>Finished <b>E COMMERCE WEBSITE</b> using HTML, CSS, JAVASCRIPT, BOOTSTRAP in Imagecon Academy.</li>
            <li>Finished <b>BANK MANAGEMENT SYSTEM</b> using PYTHON in Imagecon Academy.</li>

        </ul>
      
    </div>
    
{% endblock %}
