{% extends 'master.html' %}
{% block title %}
PROFILE
{% endblock %}
{% block content %}

<div id="bot">
    <div id="name">
        <h6>Hello,<SPAN class="blue"> I'm</SPAN> </h6>
        <h1 class="blue">PREMANATH S</h1>
        <h4>FULL STACK DEVELOPER(PYTHON)</h4>
        <p>With knowledge in Web Development and Design ,i offer the best projects resulting in quality work.</p>
        <button>DETIALS</button>
        <br>
        <div id="icon">
            <a href=""><i class="fa-brands fa-linkedin"></i></a>
            <a href=""><i class="fa-brands fa-square-github"></i></a>
            <a href=""><i class="fa-solid fa-envelope"></i></a>
        </div>
    </div>
    <div class="hid"></div>
    <div id="sk">
        
        <h1 id="sk1">SKILLS</h1>
        <br>
        <h6>PROGRAMMING</h6>
        <ul>
            <li>PYTHON</li>
        </ul>
        <h6>WEB DEVELOPMENT</h6>
        <ul> 
            <li>HTML,CSS,JAVASCRIPT,BOOTSTRAP</li>
            <li>PYTHON,DJANGO,FLASK,GIT</li>
        </ul>
        <h6>DATABASE HANDLING</h6>
        <ul>
            <li>MONGO DB</li>
            <li>MYSQL</li>
        </ul>
    </div>
    
    

{% endblock %}
